<h1>Boggle!</h1>
<div class="player-container-2">
	<boggle-player
		*ngIf="players >= 2"
		[isClient]="false"
	></boggle-player>
</div>
<div class="board-container">
	<div class="player-container-3">
		<boggle-player
			*ngIf="players >= 3"
			[isClient]="false"
		></boggle-player>
	</div>
	<boggle-board></boggle-board>
	<div class="player-container-4">
		<boggle-player
			*ngIf="players >= 4"
			[isClient]="false"
		></boggle-player>
	</div>
</div>
<div
	*ngIf="players >= 1"
	class="player-container-1"
>
	<boggle-player [isClient]="true"></boggle-player>
</div>
